name: Push Workflow
on:
  push:
    branches:
      - main
env:
  TF_VERSION: 1.7.5
  PYTHON_VERSION: 3.12
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
jobs:
  registerDiscordBotCommands:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v4
      - name: install requirements
        run: pip install -r scripts/requirements.txt
      - name: register commands
        run: python scripts/discord_bot_register_commands.py
        env:
          DISCORD_APPLICATION_ID: ${{ secrets.DISCORD_APPLICATION_ID }}
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
          DISCORD_GUILD_ID: ${{ secrets.DISCORD_GUILD_ID }}
  terraformApply:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_IAM_ROLE_ARN }}
          role-session-name: github-actions
          aws-region: ${{ vars.AWS_REGION }}
      - name: configure terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: create terraform backend config
        run: |
          cat <<EOF >> config.tfbackend
          bucket = "${{ vars.AWS_S3_BUCKET_NAME }}"
          region = "${{ vars.AWS_REGION }}"
          dynamodb_table = "${{ vars.AWS_DYNAMODB_TABLE_NAME }}"
          key = "${{ github.repository }}/terraform.tfstate"
          EOF
        working-directory: ./terraform
      - name: terraform init, format, and validate
        run: |
          terraform init -backend-config=config.tfbackend
          terraform fmt -check
          terraform validate
        working-directory: ./terraform
      - name: terraform apply
        run: terraform apply -auto-approve
        env:
          TF_VAR_discord_bot_repo_url: ${{ github.repository }}
          TF_VAR_discord_bot_public_key: ${{ secrets.DISCORD_BOT_PUBLIC_KEY }}
          TF_VAR_openai_api_key: ${{ secrets.OPENAI_API_KEY }}
          TF_VAR_github_access_token: ${{ secrets.GH_PAT }}
        working-directory: ./terraform
